<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="d-container">
    <div class="c-container">
        <a class="c-btn .witColor" asp-area="" asp-controller="Order" asp-action="NewOrder">Add New Order</a>
    </div>

    <div class="c-container">
        <a class="c-btn .witColor" asp-area="" asp-controller="Order" asp-action="Index">My Orders</a>
    </div>

</div>
