@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="welcome text-center">
    <h1 class="almary welcomeText display-4">Welcome to Pioneers Shipping System</h1>
</div>

<div>
    <img class="pioneer" src="./images/pioneer.jpg" />
</div>
